.velan-operation-button {
  align-self: center;
  height: fit-content;
  padding: 4px 16px;
  gap: 4px;

  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  text-wrap: nowrap;

  border-radius: 4px;
  background-color: var(--primary-color-dark);
  color: #fff;
}

.velan-operation-button img {
  height: 12px;
}