body {
  display: grid;
  grid-template-areas:
    "side-menu plot"
    "shot-navigation shot-navigation";
  grid-template-columns: 0 1fr;
  grid-template-rows: 1fr 8px;
}

body.shot-gather-plot-page {
  grid-template-rows: 1fr 72px;
}

body.shot-gather-plot-page.compact-menu {
  grid-template-rows: 1fr 48px;
}

.side-menu {
  grid-area: side-menu;
}

/* class provided by bokeh to plot container */
/* very limited styles */
.bk-Figure,
.bk-Row {
  grid-area: plot;
}

.shot-navigation {
  grid-area: shot-navigation;
}