.shot-navigation {
  z-index: 20;
  display: flex;
  padding: 8px 16px;
  gap: 16px;
}

.shot-navigation .divider {
  height: 100%;
  width: 2px;
  background-color: var(--shadow-color);
}

/* * start gathers amount to load input * */
.shot-navigation .gathers-amount-label {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: spa;
  width: 128px;
  gap: 4px;
}

.shot-navigation .gathers-amount-label #gathers-amount-input {
  font-size: 1rem;
  padding: 4px 8px;
}

.shot-navigation .gathers-amount-label .loading-icon {
  position: absolute;
  height: 16px;
  top: 2px;
  right: 0;
}

/* * end gathers amount to load input * */

.shot-navigation .gather-position-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 4px;
}

.shot-navigation .gathers-numbers-box {
  display: grid;
  grid-template-columns: auto auto 1fr;
}

.shot-navigation .gathers-numbers-box .label-title {
  display: flex;
  font-size: 1rem;
  margin-right: 8px;
  align-items: center;
}

/* * start gather-number-input * */
.shot-navigation .gather-number-input-box {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--primary-color);
}

.shot-navigation .gather-number-input-box input {
  border: none;
}

.shot-navigation .shot-position-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  transition: 0.3s;
}

.shot-navigation .shot-position-button:hover {
  transition: 0.3s;
  background-color: var(--shadow-color);
}

.shot-navigation .shot-position-button img {
  height: 16px;
}

.shot-navigation #next-shot-button img {
  transform: rotate(180deg);
}

.shot-navigation img#loading-gather_index_start-icon {
  position: absolute;
  right: -24px;
  height: 16px;
}

.shot-navigation #shot-gather-position-number {
  width: 72px;
  padding: 2px 8px;
  font-size: 1rem;
  /* remove default input buttons */
  -moz-appearance: textfield;
}

.shot-navigation #shot-gather-position-number::-webkit-outer-spin-button,
.shot-navigation #shot-gather-position-number::-webkit-inner-spin-button {
  /* remove default input buttons */
  -webkit-appearance: none;
  margin: 0;
}

/* * end gather-number input * */

.shot-navigation .total-gathers-amount {
  font-size: 1rem;
  justify-self: end;
}

/* * gather-slider input * */

.shot-navigation .gather-position-box #shot-gather-position-slider {
  accent-color: var(--primary-color);
}