<div class="shot-navigation">
  {% if is_velan %}
  <button class="velan-operation-button" onclick="savePicks()">
    Save picks
  </button>

  <button class="velan-operation-button" onclick="applyNMO()">
    Apply NMO
  </button>
  {% endif %}

  {% if not is_velan %}
  <label class="gathers-amount-label">
    <span>
      Gathers to load
    </span>
    <input type="number" id="gathers-amount-input" min="1" value="1" />
    <img class="loading-icon" id="loading-num_loadedgathers-icon" src="{{ STATIC_PATH }}icons/spinning_icon.svg" alt="">
  </label>
  {% endif %}

  <div class="divider"></div>

  <div class="gather-position-box">
    <div class="gathers-numbers-box">
      <label for="shot-gather-position-number" class=label-title>
        Gather(s)
      </label>

      <div class="gather-number-input-box">
        <button id="previus-shot-button" onclick="previusGatherPostion()" class="shot-position-button">
          <img src="{{ STATIC_PATH }}icons/arrow_back.svg" alt="">
        </button>

        <input type="number" id="shot-gather-position-number" max="{{total_gathers_amount}}" value="1" />

        <button id="next-shot-button" onclick="nextGatherPostion()" class="shot-position-button">
          <img src="{{ STATIC_PATH }}icons/arrow_back.svg" alt="">
        </button>

        <img class="loading-icon" id="loading-gather_index_start-icon" src="{{ STATIC_PATH }}icons/spinning_icon.svg"
          alt="">
      </div>

      <span class="total-gathers-amount">
        Total Gathers Amount:
        {{total_gathers_amount}}
      </span>
    </div>

    {% if not is_velan %}
    <input type="range" id="shot-gather-position-slider" min="1" max="{{total_gathers_amount}}" value="1" />
    {% endif %}

  </div>

</div>